.app-body {
  display: block;
  background: antiquewhite;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #352f2c;
  font-weight: 500;
  font-size: medium;
  max-width: 520px;
  padding: 10px;
  margin: 40px auto 0 auto;
  border-radius: 15px;
  box-shadow:
    2px 4px rgba(43, 34, 22, 0.04),
    0 8px 16px rgba(43, 34, 22, 0.08);
}
header {
  padding: 20px;
  background-color: antiquewhite;
}
main {
  padding: 60px 20px;
  border-radius: 10px;
  background-color: rgb(209, 220, 208);
}

.weather-info-container {
  display: flex;
  width: 100%;
}

.weather-info,
.weather-other-info {
  flex: 1;
  padding: 5px;
  text-align: center;
}
.weather-info {
  font-family: "Lora", serif;
  font-weight: 700;
}

.current-location {
  font-size: xx-large;
}
.current-temp,
.weather-description-emoji {
  font-size: x-large;
}
.weather-description,
.current-location-humidity,
.current-location-wind-speed {
  padding: 2px;
}
footer {
  font-size: small;
  background-color: antiquewhite;
  padding: 20px;
}
