.app-body {
  display: block;
  background: antiquewhite;
  max-width: 520px;
  padding: 10px;
  margin: 40px auto 0 auto;
  border-radius: 15px;
  box-shadow:
    2px 4px rgba(43, 34, 22, 0.04),
    0 8px 16px rgba(43, 34, 22, 0.08);
}
header {
  padding: 20px;
  background-color: antiquewhite;
}
main {
  padding: 60px;
  border-radius: 10px;
  background-color: rgb(209, 220, 208);
}
footer {
  background-color: antiquewhite;
  padding: 20px;
}
